<!-- Image and text -->
<nav class="navbar navbar-dark bg-main" *ngIf="logged()">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top">
    <b style="margin: 0px 5px;">DIY</b>Hacks
  </a>
  <button class="btn btn-primary my-2 my-sm-0" [routerLink]="['login']">Log Out</button>
</nav>

<nav class="navbar navbar-dark bg-main bottombar" style="padding: 0;" *ngIf="logged()">
  <div class="bot-link" routerLinkActive="bot-active" [routerLink]="['dashboard']">
    <i class="fas fa-home"></i>
  </div>
  <div class="bot-link" routerLinkActive="bot-active" [routerLink]="['explore']">
    <i class="fas fa-fire"></i>
  </div>
  <div class="bot-link" routerLinkActive="bot-active" [routerLink]="['create']">
    <i class="fas fa-plus-circle"></i>
  </div>
  <div class="bot-link" routerLinkActive="bot-active" [routerLink]="['profile','1']">
    <i class="fas fa-user"></i>
  </div>
</nav>
