<!-- <div style="text-align:center;">
      <input style="display:block; text-align:center; margin:auto" type="text" #name placeholder="username">
      <input style="display:block; text-align:center; margin:auto" type="password" #passw placeholder="password">
      <input style="display:block; text-align:center; margin:auto" type="email" #email placeholder="email"><br>
      <button type="button" class="btn btn-success" name="button"
      (click)="addUser(name.value, passw.value, email.value)"
      >Añadir usuario</button>
  <pre style="margin:20px;" *ngFor="let user of usuarios">
{{user.username}}
<small>{{user.email}}</small>
<small>{{user.password}}</small>
<button type="button" class="btn btn-danger btn-sm" name="button"
(click)="eliminar(user._id)">
Eliminar</button>
<!-- <button type="button" class="btn btn-warning btn-sm" name="button"
(click)="actualizar(user._id, user.username, name.value, passw.value, email.value)">
Update</button>
  </pre>
</div> -->

<div class="post">
  <div class="top-post">
    <img src="assets/profilepic.png" class="img-thumbnail profilepic">
    <b>lifehack</b><br>
    <span class="post-title">Garlic Bread Lifehack</span>
    <span class="post-time">10:46</span>
  </div>
  <div class="post-content">
    <img src="assets/post-image.jpeg" class="img-fluid">
    <span class="tag">#lifehack </span>
    <span class="tag">#break </span>
    <span class="tag">#garlicbread </span>
    <span class="tag">#easy</span>

  </div>
  <div class="post-feedback">
    <i class="far fa-heart"></i> <span class="feedcount">23</span>
    <i class="far fa-comment"></i> <span class="feedcount">6</span>
  </div>
</div>

<div class="post">
  <div class="top-post">
    <img src="assets/profilepic.png" class="img-thumbnail profilepic">
    <b>lifehack</b><br>
    <span class="post-title">Garlic Bread Lifehack</span>
    <span class="post-time">10:46</span>
  </div>
  <div class="post-content">
    <img src="assets/post-image.jpeg" class="img-fluid">
    <span class="tag">#lifehack </span>
    <span class="tag">#break </span>
    <span class="tag">#garlicbread </span>
    <span class="tag">#easy</span>

  </div>
  <div class="post-feedback">
    <i class="far fa-heart"></i> <span class="feedcount">23</span>
    <i class="far fa-comment"></i> <span class="feedcount">6</span>
  </div>
</div>
