/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: #48924A;
}
.wrapper {
  padding: 50px 20px;
}
.main-logo {
  max-width: 300px;
}
.main-form {
  margin: 30px 0 15px;
}
.btn-signup {
  background-color: #48924A;
  color: white;
}
.btn-facebook {
  background-color: #3B5998;
  color: white;
}
.wrong {
  border: 1px solid #d00;
}
.correct {
  color: #48924A;
}
.text-wrong {
  color: #D00;
}
